.bg-video
{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:.15;
    overflow: hidden; //vaise iske bagair bhi aise he work kar raha tha , par sir ka overflow ho raha tha 
    

    &__content
    {
        height:100%;
        width:100%;
        object-fit: cover;
    }
}